[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[scripts]

[requires]
python_version="3.11"

[packages]
flask = "*"
bcrypt = "*"
flask-jwt = "*"
jwt = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
openai = "*"
python-dotenv = "*"
